@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html @*lang="en"*@>
<head>
    <meta name="viewport" content="width=device-width" />@*, initial-scale=1" charset="utf-8" />*@
    <link rel="stylesheet" type="text/css" href="~/Styles/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/index.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/income.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/expense.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/footer.css" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="headstrip">
        <div id="headstripContent">
            <div id="logoDiv">
                <label id="site_name">@Html.ActionLink("ASDFGH", "Index", "Home")</label>
            </div>
            <div class="separatorDiv"></div>
            <div id="loginDiv">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", id = "username" })
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                }
                else
                {
                    <input type="button" id="loginBtn" value="Login" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" />
                    <input type="button" id="registerBtn" value="Register" onclick="@("window.location.href='" + @Url.Action("Register", "Account") + "'");" />
                }
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
<footer>
    <div>
        <label>Next feature to do: Implement frequency and year filtering. Fix other page UIs (login, manage account, footer, etc)</label>
        @Html.ActionLink("Contact", "Contact", "Home")
    </div>
    <script src="~/Scripts/globalFunctions.js"></script>
    <script src="~/Scripts/income.js"></script>
    <script src="~/Scripts/expense.js"></script>
</footer>
